Arte/Dificultades/Dificultades.psd
Arte/Dificultades/Freshman-dev.png
Arte/Dificultades/junior-dev.png
Arte/Dificultades/senior-dev.png
Planificaciones/Planificacion 30 days code.docx
Planificaciones/Planificacion 30 days code.pdf
Borradores de retos/Borrador _Reto 7.txt
Borradores de retos/Borrador _Reto 8.txt
Borradores de retos/Borrador _Reto 9.txt
Borradores de retos/Borrador_Reto 1.txt
Borradores de retos/Borrador_Reto 2.txt
Borradores de retos/Borrador_Reto 3.txt
Borradores de retos/Borrador_Reto 4.txt
Borradores de retos/Borrador_Reto 5.txt
Borradores de retos/Borrador_Reto 6.txt
Planificaciones/Distribucion de tareas_retos.docx
