Arte/Dificultades/Dificultades.psd
Arte/Dificultades/Freshman-dev.png
Arte/Dificultades/junior-dev.png
Arte/Dificultades/senior-dev.png
Planificaciones/Planificacion 30 days code.docx
Planificaciones/Planificacion 30 days code.pdf
