Arte/Dificultades/Dificultades.psd
Arte/Dificultades/Freshman-dev.png
Arte/Dificultades/junior-dev.png
Arte/Dificultades/senior-dev.png
Planificaciones/Planificacion 30 days code.docx
Planificaciones/Planificacion 30 days code.pdf
Borradores de retos/Borrador _Reto 7.txt
Borradores de retos/Borrador _Reto 8.txt
Borradores de retos/Borrador _Reto 9.txt
Borradores de retos/Borrador_Reto 1.txt
Borradores de retos/Borrador_Reto 2.txt
Borradores de retos/Borrador_Reto 3.txt
Borradores de retos/Borrador_Reto 4.txt
Borradores de retos/Borrador_Reto 5.txt
Borradores de retos/Borrador_Reto 6.txt
Planificaciones/Distribucion de tareas_retos.docx
Borradores de retos/Borrador_Reto 10.txt
Borradores de retos/Borrador_Reto 11.txt
Borradores de retos/Borrador_Reto 12.txt
Borradores de retos/Reto 13_Facil.txt
Borradores de retos/Reto 14_Medio.txt
Borradores de retos/Reto 15_Dificil.txt
Borradores de retos/Reto_16_Dificil.txt
Borradores de retos/Reto_17_Facil.txt
Borradores de retos/Reto_18_Medio.txt
Borradores de retos/Reto_19.txt
Borradores de retos/Reto_20.txt
Borradores de retos/Reto_21.txt
QRs/reto 1.png
QRs/reto 2.png
QRs/reto 3.png
QRs/reto 4.png
QRs/reto 5.png
QRs/reto 6.png
QRs/reto 7.png
QRs/reto 8.png
QRs/reto 9.png
Borradores de retos/Reto_19_Facil.txt
Borradores de retos/Reto_20_Medio.txt
Borradores de retos/Reto_21_Medio.txt
Equipos/Equipos_ganadores_sem2.xlsx
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 2_Penalizacion.jpg
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 3_Penalizacion.jpg
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 4.jpg
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 5.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 6.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 7.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 8_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 9_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 10_Extra_Penalizacion.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 11_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 12_Extra_Penalizacion.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 13_Penalizacion_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 14_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 15_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 16_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 17_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 18.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 19.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 20_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 21_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 22.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 23_Penalizacion_Extra.txt
Equipos/Equipo 1_Tarek Abdelfatah y Meza Jhon/Reto 24_Extra.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 2_Extra.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 3.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 8_Extra.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 9_Extra.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 10_Extra.txt
Equipos/Equipo 2_Andres Suarez y Steven Erazo/Reto 11_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 1.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 2.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 3_Extra.jpg
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 3.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 4.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 5_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 6_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 7_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 8_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 9_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 10_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 11_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 12_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 13.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 14.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 15_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 16_extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 17_Extra.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 18_Penalizacion.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 18.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 19.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 20_Penalizacion.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 21_Penalizacion.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 22.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto 23.txt
Equipos/Equipo 3_Cristian Bastidas y Julio Sanches/Reto24_Extra.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 1.jpg
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 2_Penalizacion.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 3.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 4.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 5.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 6.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 7.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 8.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 9.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 10.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 11.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 12.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 13.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 14.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 15.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 17.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 18.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 19.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 20.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 21.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 22.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 23_Penalizacion.txt
Equipos/Equipo 4_Hernan Velin y Johan Ilicachi/Reto 24.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 1.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 2_Extra.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 3.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 4.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 5.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 7.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 8.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 11_Penalizacion.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 12.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 13.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 14.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 15.txt
Equipos/Equipo 5_Carlos Baño y Marcela Montalvo/Reto 18.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 1.py
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 2_Puntaje extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 3_Extra.jpg
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 4_Extra+Penalizacion.py
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 5_Extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 6_Extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 7_Extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 8_Extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 10_Extra.txt
Equipos/Equipo 6_Jack Rojas y Madelyn Fernandez/Reto 12_Extra.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 1_Extra_Penalizacion.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 2_Extra_Penalizacion.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 3_Extra_Penalizacion.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 4_Extra_Penalizacion.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 5.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 6_Extra.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 7_Extra.txt
Equipos/Equipo 8_Kevin Gonzales y Mateo Espinoza/Reto 8_Extra.txt
QRs/Reto 10.png
QRs/Reto 11.png
QRs/Reto 12.png
QRs/Reto 13.png
QRs/Reto 14.png
QRs/Reto 15.png
QRs/Reto 16.png
QRs/Reto 17.png
QRs/Reto 18.png
QRs/Reto 19.png
QRs/Reto 20.png
QRs/Reto 21.png
QRs/Reto 22.png
QRs/Reto 23.png
QRs/Reto 24.png
Tabla de posiciones.xlsx
